@import "tailwindcss";

* {
  font-family: "Inter", sans-serif !important;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #fff !important;
  position: relative;
  margin: 0;
}

html::before,
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("./assets/img/snack.jpg") center/cover no-repeat;
  opacity: 0.05;
  pointer-events: none;
}

body::-webkit-scrollbar {
  display: none;
}

button{
  cursor: pointer;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif !important;
}