.txt_5 {
    font-size: 0.5rem;
    font-weight: 400;
    line-height: normal;
}

.txt_625 {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1rem;
}

.txt_6875 {
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 1rem;
}

.txt_6875_medium {
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.00688rem;
}

.txt_75 {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.txt_75_medium {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
}

.txt_75_semi {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.txt_875 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    /* 171.429% */
}

.txt_875_medium {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.txt_875_semi {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.txt_875_bold {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.txt_8125 {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.txt_8125_medium {
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.txt_8125_semi {
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.txt_8125_bold {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.txt_9375 {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.txt_9375_semi {
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.txt_9375_bold {
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.txt_1_medium {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.txt_1_semi {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.txt_1_bold {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
}

.txt_1_125_medium {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.txt_1_125_semi {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2rem;
}

.txt_1_125_bold {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 140%;
}

.txt_1_1875_bold {
    font-size: 1.1875rem;
    font-weight: 700;
    line-height: 1.875rem;
}

.txt_1_25_bold {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: normal;
}

.txt_1_875_bold {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.5rem;
}

label {
    color: var(--Primarry, #25323e);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
}
